@model OpenIdConnectScheme

@{
    ViewData["Title"] = "Edit OpenIdConnectScheme";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Authority" class="control-label"></label>
        <input asp-for="Authority" class="form-control" />
        <span asp-validation-for="Authority" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClientId" class="control-label"></label>
        <input asp-for="ClientId" class="form-control" />
        <span asp-validation-for="ClientId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClientSecret" class="control-label"></label>
        <input asp-for="ClientSecret" class="form-control" />
        <span asp-validation-for="ClientSecret" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
